<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/appointment-records.css">
    <title>Appointments Records</title>
</head>
<body>
    <form action="/records/filter-appointment-records" id="form1" method="post">
        <div class="select-div">
            <label for="select" class="select-label">Filter by : </label>
            <select name="select" id="select" class="select" value="<%= filterType %>"  onchange="submit()">
                <option value="all" <%= all %>>All</option>
                <option value="search" <%= search %>>Search</option>
                <option value="date" <%= date %>>Date</option>
                <option value="month" <%= month %>>Month</option>
                <option value="year" <%= year %>>Year</option>
                <option value="next-week" <%= nextWeek %>>Next Week</option>
                <option value="last-week" <%= lastWeek %>>Last Week</option>
                <option value="next-month" <%= nextMonth %>>Next Month</option>
                <option value="last-month" <%= lastMonth %>>Last Month</option>
            </select>
        </div>
        <div class="options-div">
            <% if (filterType == "search") { %>
                <div class="search-div">
                    <input type="text" class="search" id="search" name="search" value="<%= searchValue %>">
                    <button type="submit" class="btn">Search</button>
                </div>
               <% } %>
           <% if (filterType == "date") { %>
            <input type="date" name="date" id="date" class="input" value="<%= dateValue %>" onchange="submit()">
           <% } %>
           <% if (filterType == "month") { %>
            <input type="month" name="month" id="month" class="input" value="<%= monthValue %>" onchange="submit()">
           <% } %>
           <% if (filterType == "year") { %>
            <div class="search-div">
                <input type="number" name="year" id="year" class="year" min="1900" max="2100" step="1" value="<%= yearValue %>">
                <button type="submit" class="btn">Search</button>
            </div>
           <% } %>
        </div>
    </form>
    <form action="" method="post" id="form2">
      <p class="pdf-name" id="pdf-name"><%= pdfName %></p>
        <% if (details.length) { %>

            <h2 class="count">Count: <%= details.length %></h2>

            <% if (accountType == "patient") { %>
                <% details.forEach(appointment => { %>
                    <form action="" id="form3" method="post">
                        <div class="records">
                            <input type="checkbox" class="check" id="<%= appointment.appointment_id %>">
                            <label for="<%= appointment.appointment_id %>" class="check-label"><span class="nav-icon"></span></label>
                            <div class="top">
                                <div class="date-time">
                                    <h3 class="date"><%= appointment.date %></h3>
                                    <h3 class="time"><%= appointment.time %></h3>
                                </div>
        
                                <% if (appointment.status == "scheduled") { %>
                                    <p class="scheduled">Scheduled</p>
                                    <button type="submit" class="reschedule">Reschedule</button>
                                    
                                <% } else{ %>
                                    <p class="completed">Completed</p>
                                 <% } %>
            
                            </div>
                
                            <div class="bottom">
                                <h3 class="details"><%= appointment.name %></h3>
                                <p class="details"><%= appointment.cancer_speciality %></p>
                                <p class="details"><%= appointment.clinic_location %></p>
                                <p class="details"><%= appointment.clinic_email %></p>
                                <p class="details"><%= appointment.clinic_phone_no %></p>
                
                            </div>
                        </div>
        
                        <input type="text" class="ids" name="doctorId" id="<%= appointment.doctor_id %>" value="<%= appointment.doctor_id %>">
                        <input type="text" class="ids" name="appointmentId" id="<%= appointment.appointment_id %>" value="<%= appointment.appointment_id %>">
        
                    </form>
                    <% }) %>
             
            <% }else{ %>
                <!-- doctor account -->
                <% details.forEach(appointment => { %>
                    <form action="" class="form4" method="post" >

                      <div class="records-2">
                        <input type="checkbox" class="check-2" id="check-<%= appointment.appointment_id %>">
                        <label for="check-<%= appointment.appointment_id %>" class="check-label-2"
                          ><span class="nav-icon-2"></span
                        ></label>
                        <div class="top-details">
                          <h2 class="day-details"><%= appointment.date %></h2>
                          <h2 class="day-details"><%= appointment.time %></h2>
                        </div>
                        <h2 class="name-2"><%= appointment.name %></h2>
                        <% if (appointment.status == "scheduled") { %>
                         <p class="status" id="scheduled">Scheduled</p>
                        <% }else{ %>
                          <p class="status" id="completed">Completed</p>
                        <% } %>
                        <div class="bottom-2">
                          <div class="bottom-details">
                            <h5 class="details-header">Gender : </h5>
                            <p class="details"><%= appointment.gender %></p>
                          </div>
                          <div class="bottom-details">
                            <h5 class="details-header">D.O.B : </h5>
                            <p class="details"><%= appointment.dob %></p>
                          </div>
                          <div class="bottom-details">
                            <h5 class="details-header">Cancer Type : </h5>
                            <p class="details"><%= appointment.cancer_type %></p>
                          </div>
                          <div class="bottom-details">
                            <h5 class="details-header">Cancer Stage : </h5>
                            <p class="details"><%= appointment.cancer_stage %></p>
                          </div>
                          <div class="bottom-details">
                            <h5 class="details-header">LifeStyle Diseases : </h5>
                            <% if (appointment.lifestyle_diseases == "") { %>
                            <p class="details">None</p>
                            <% } else{%>
                            <p class="details"><%= appointment.lifestyle_diseases %></p>
                            <% } %>
                          </div>
                          <div class="bottom-details">
                            <h5 class="details-header">Contacts : </h5>
                            <p class="details"><%= appointment.phone_no %></p>
                          </div>
                          <div class="bottom-details">
                            <h5 class="details-header">Location : </h5>
                            <p class="details"><%= appointment.location %></p>
                          </div>
                        </div>
                      </div>
                    </form>
                    <% }) %> 
            <% } %>
         
            <button type="button" class="btn" onclick="pdfOpen()">Download PDF</button>
        <% }else{ %>
            <h1 class="no-records">No Records</h1>
        <% } %>
    </form>

    <script>
      const pdfOpen = () =>{
        let name = document.getElementById("pdf-name").innerText;
        window.open("/"+name)
      }
        const submit = () =>{
            document.getElementById("form1").submit();
        }
    </script>
</body>
</html>