<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/book-appointment.css">
    <title>Book Appointment</title>
</head>

<body>
    <div class="body-wrap">
        <nav class="nav-bar">
            <!-- <div class="profile-pic"></div> -->
            <div class="details-wrap">
                <h1 class="name">
                    <%= details[0].name %>
                </h1>
                <p class="speciality">
                    <%= details[0].cancer_speciality %>
                </p>
                <p class="location">
                    <%= details[0].clinic_location %>
                </p>
                <p class="phone">Phone No : <%= details[0].clinic_phone_no %>
                </p>
                <p class="email">Email : <%= details[0].clinic_email %>
                </p>
            </div>
        </nav>
        <form action="/book-appointment" method="post">
            <h2>Select Preferred Date</h2>
            <input type="date" class="date" id="date" name="date" value="">
            <h2>Select Time</h2>
            <div class="time-wrap">

                <div class="morning">

                    <input type="checkbox" id="morning-check" class="check" onclick="morning()">

                    <label for="morning-check" class="check-label"><span class="label-icon"></span></label>

                    <label class="label-head" for="morning-check">8.00 AM - 10.00 AM</label>

                    <div class="period">

                        <div class="periods" id="period-1">
                            <input type="radio" class="morning-radio" id="time-1" name="time1" onclick="timeOne()" <%= time1 %>>
                            <label for="time-1" class="time-label" id="time-1-label">8.00AM</label>
                        </div>
                        <div class="periods" id="period-2">
                            <input type="radio" class="morning-radio" id="time-2" name="time2" onclick="timeTwo()" <%= time2 %>>
                            <label for="time-2" class="time-2-label">8.30AM</label>
                        </div>
                        <div class="periods" id="period-3">
                            <input type="radio" class="morning-radio" id="time-3" name="time3" onclick="timeThree()" <%= time3 %> >
                            <label for="time-3" class="time-3-label">9.00AM</label>
                        </div>
                        <div class="periods" id="period-4">
                            <input type="radio" class="morning-radio" id="time-4" name="time4" onclick="timeFour()" <%= time4 %>>
                            <label for="time-4" class="time-4-label">9.30AM</label>
                        </div>
                    </div>


                </div>

                <div class="after-morning">

                    <input type="checkbox" id="after-morning-check" class="check" onclick="afterMorning()">
                    <label for="after-morning-check" class="check-label"><span class="label-icon"></span></label>

                    <label class="label-head" for="after-morning-check">11.00 AM - 1.00 PM</label>


                    <div class="period">
                        <div class="periods" id="period-5">
                            <input type="radio" class="after-morning-radio" id="time-5" name="time5" onclick="timeFive()" <%= time5 %>>
                            <label for="time-5" class="time-5-label">11.00AM</label>
                        </div>
                        <div class="periods" id="period-6">
                            <input type="radio" class="after-morning-radio" id="time-6" name="time6" onclick="timeSix()" <%= time6 %>>
                            <label for="time-6" class="time-6-label">11.30AM</label>
                        </div>
                        <div class="periods" id="period-7">
                            <input type="radio" class="after-morning-radio" id="time-7" name="time7" onclick="timeSeven()" <%= time7 %>>
                            <label for="time-7" class="time-7-label">12.00PM</label>
                        </div>
                        <div class="periods" id="period-8">
                            <input type="radio" class="after-morning-radio" id="time-8" name="time8" onclick="timeEight()" <%= time8 %>>
                            <label for="time-8" class="time-8-label">12.30PM</label>
                        </div>
                    </div>
                </div>

                <div class="afternoon">

                    <input type="checkbox" id="afternoon-check" class="check" onclick="afternoon() ">
                    <label for="afternoon-check" class="check-label"><span class="label-icon"></span></label>

                    <label class="label-head" for="afternoon-check">2.00 PM - 4.00 PM</label>

                    <div class="period">
                        <div class="periods" id="period-9">
                            <input type="radio" class="afternoon-radio" id="time-9" name="time9" onclick="timeNine()" <%= time9 %>>
                            <label for="time-9" class="time-9-label">2.00PM</label>
                        </div>
                        <div class="periods" id="period-10">
                            <input type="radio" class="afternoon-radio" id="time-10" name="time10" onclick="timeTen()" <%= time10 %>>
                            <label for="time-10" class="time-10-label">2.30PM</label>
                        </div>
                        <div class="periods" id="period-11">
                            <input type="radio" class="afternoon-radio" id="time-11" name="time11" onclick="timeEleven()" <%= time11 %>>
                            <label for="time-11" class="time-11-label">3.00PM</label>
                        </div>
                        <div class="periods" id="period-12">
                            <input type="radio" class="afternoon-radio" id="time-12" name="time12" onclick="timeTwelve()" <%= time12 %>>
                            <label for="time-12" class="time-12-label">3.30PM</label>
                        </div>
                    </div>

                </div>
            </div>

            <input type="submit" class="submit-btn" value="Book" onclick="checkIfChecked()">

        </form>
    </div>


    <script src="/book-appointment.js"></script>

</body>

</html>