<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="/chat-rooms.css">
    <title>Chat Rooms</title>
</head>
<body>
    <% if (rooms.length) { %>
        <h1 class="main-header">Chats</h1>
        <% rooms.forEach(room => { %>
         <form action="/chats/chat-rooms" method="post">
            <div class="container">
                <input type="text" name="room_id" id="room-id" class="room-id" value="<%= room.room_id %>">
                <input type="text" name="name" id="name" class="room-id" value="<%= room.name %>">
                <h2 class="name"><%= room.name %></h2>
                <% if (room.unviewedMessages > 0) { %>
                 <h2 class="unviewed-messages"><%= room.unviewedMessages %></h2>
                <% } %>
                <% if (room.message == null ) { %>
                    
                <% }else{ %>
                    <h3 class="last-message"><%= room.sender %> : <%= room.message %></h3>
                    <h3 class="time-date"><%= room.date %>   |   <%= room.time %></h3>
                <% } %>
                <div class="buttons">
                    <button type="submit" name="message" class="btn">Message</button>
                    <button type="submit" name="profile" class="btn">View Profile</button>
                </div>
            </div>
         </form>
        <% }) %>
    <% } else{ %>
        <h1 class="no-chats">No Chats Available</h1>
    <% } %>

</body>
</html>