<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="doctor-register.css">
    <title>Register</title>
</head>
<body>


    <form action="/register/doctor" method="post">

        <nav class="nav-bar">
            <h4>Doctor's Personal Details</h4>
        </nav>

        <% if(doctorMsg.length > 0 ){ %>
            <div class="alert alert-danger" role="alert">
                <%= doctorMsg %>
            </div>
       <% } %>

        <div class="details-wrap">
            <h6>Full Name</h6>
            <input type="text" class="text"  id="name" name="name" value="<%= name %>" minlength="10"  required>
        </div>
        <div class="details-wrap">
            <h6>Gender</h6>
            <div class="type">
               <div class="gender-wrap">
                <input type="radio" class="gender-type" id="male"  name="male" onclick="gender1()" <%= male %>>
                <label for="male" class="gender-label" id="male-label">Male</label>
               </div>
               <div class="gender-wrap">
                <input type="radio" class="gender-type" id="female" name="female" onclick="gender2()" <%= female %>>
                <label for="female" class="gender-label" id="female-label">Female</label>
               </div>
            </div>
    
        </div>
        <div class="details-wrap">
            <h6>D.O.B</h6>
            <input type="date" class="dob" id="dob" name="dob" value="<%= dob %>"required>
        </div>
        <div class="details-wrap">
            <h6>Phone Number</h6>
            <input type="tel" class="text" id="phone" minlength="10" maxlength="10" name="phone" value="<%= phone %>" required>
        </div>
        <div class="buttons-wrap">
            <input type="submit" class="buttons" id="next" value="Next">
        </div>

    </form>

    <script src="doctor-register.js"></script>
</body>
</html>