<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="/doctors.css">
    <title>Doctors</title>
</head>

<body>

    <form action="/search-doctors" method="post">
        <div class="search-bar">
            <input type="text" class="search" id="search" name="search" placeholder="Enter  name,  speciality  or  location">
            <button type="submit" class="search-btn">Search</button>
        </div>
    </form>
    <h1 class="heading">Oncologists</h1>
    <% details.forEach(function(character) { %>

        <form action="/doctors" method="post">
    
            <div class="doctors-list">
    
                <div class="doctor-tab" id="doctor-1">
    
                    <input type="text" name="doctor_id" id="doctor-id" value="<%= character.user_id %>">
                    <input type="text" name="name" id="doctor-id" value="<%= character.name %>">
                    <input type="checkbox" class="check" id="check<%= character.user_id %>">
                    <label for="check<%= character.user_id %>" class="check-label" id="check-label-<%= character.user_id %>"><span class="nav-icon"></span></label>
    
                    <div class="container">
    
                        <div class="doctor-profile">
                            <div class="profile-pic" id="profile-pic"></div>
    
                            <% if((character.name). startsWith("Dr. ")) { %>
                                  <h2 class=" name" id="name">
                                <%= character.name %>
                                    </h2>
                                    <% } else{ %>
                                        <h2 class="name" id="name"><%= character.name %>
                                        </h2>
                                        <% } %>
    
                                            <p id="speciality-details">
                                                <%= character.cancer_speciality %>
                                            </p>
    
                                            <input type="text" class="id" id="id" name="id"
                                                value="<%= character.user_id %>">
                        </div>
                        <div class="doctor-details">
                            <h4>Location</h4>
                            <p id="location-details">
                                <%= character.clinic_location %>
                            </p>
    
                            <h4>Phone No.</h4>
                            <p id="phone-details">
                                <%= character.clinic_phone_no %>
                            </p>
                            <h4>Email</h4>
                            <p id="email-details">
                                <%= character.clinic_email %>
                            </p>
    
    
                        </div>
                       <div class="buttons">
                        <button type="submit" class="book-btn" name="btnConsult" >Consult</button>
                        <button type="submit" class="book-btn" name="btnBook">Book Appointment</button>
                       </div>
                    </div>
    
                </div>
        </form>
        <%; }); %>


</body>

</html>