<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Cancer Support System</title>
</head>
<body>

    <!-- ----Landing Page------ -->

    <div class="landing-body">
        <nav class="nav-bar" id="nav-bar">
            <h1 class="name">CSS</h1>
            <div class="menu">
                <ul class="menu-bar">
                    <li class="menu-items">
                        <a href="" class="home">Home</a>
                    </li>
                    <li class="menu-items">
                        <a href="/appointments/my-appointments" class="appointments">Appointments</a>
                    </li>
                    <li class="menu-items" id="pages-item">
                        <a href="" class="pages">Pages</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-items">
                                <a href="" class="about-us">About Us</a>
                            </li>
                            <li class="sub-menu-items">
                                <a href="" class="doctors">Doctors</a>
                            </li>
                            <li class="sub-menu-items">
                                <a href="" class="sub-query">Query</a>
                            </li>
                            <li class="sub-menu-items">
                                <a href="" class="users">Users</a>
                            </li>
                            <li class="sub-menu-items">
                                <a href="" class="contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-items">
                        <a href="" class="account">My Account</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="landing-info" id="landing-info">
            <p>The <span>CSS </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quaerat molestiae ipsa numquam eos officia. Dolore veniam laudantium, soluta necessitatibus nesciunt ipsum. Distinctio incidunt nostrum ea perferendis qui quisquam ex itaque fugit necessitatibus fuga. Aspernatur voluptatum reiciendis sapiente nostrum iusto tempora dolores in quis, quisquam cupiditate itaque, sequi porro ullam.</p>
            <a href="/doctors" class="appointment-btn">Discover Doctors</a>
        </div>

    </div>


     <!-----------------About Us Page------------------>

    <div class="about-body">
        <div class="about-wrap">
            <div class="about-img">
                <video autoplay loop muted >
                    <source src="production ID_5199636.mp4" type="video/mp4">
                </video>
            </div>
            <div class="about-text">

                <div class="about-text-wrap">
                
                    <h1>About Us</h1>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat quaerat voluptas expedita? Molestias, quis officia libero laudantium est iure suscipit aliquid eum, repellendus impedit quibusdam assumenda in harum exercitationem id corporis tenetur nam. Dolorum enim omnis veritatis in quidem rerum tenetur laudantium ipsam tempora. Ex deleniti repellendus, delectus beatae iste aspernatur dolor mollitia libero veritatis molestias eum alias quaerat ipsum dolore saepe soluta? Voluptates soluta laudantium maxime dicta totam minus aliquam distinctio, iste consequatur numquam officia tempore facilis ipsa consequuntur alias quas, eveniet aliquid quo accusamus. Rerum minima voluptate beatae eligendi consectetur fugiat nam! Quis nesciunt fugit perferendis assumenda corporis!</p>
                </div>
            </div>
        </div>
    </div>


     <!-----------------Doctors Page------------------>
     <% if (doctors.length) { %>

    <div class="doctors-body">

        <h1>Oncologists</h1>

        <div class="glide">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">

                <% doctors.forEach(doctor => { %>

                    <li class="glide__slide">
                        <form action="/" id="form" method="post">

                            <input type="text" class="doctor-id" name="doctor_id" value="<%= doctor.user_id %>">
                            <input type="text" class="post-type" name="post-type" id="post-type">

                            <div class="doctors-tabs" id="doctor-1">
                                <div class="doctors-profile">
                                    <div class="profile-pic" id="profile-pic-1"></div>
                                <h2 class="name" id="name-1"><%= doctor.name %></h2>
                                </div>
                                <div class="doctor-details">
                                    <div class="doctor-speciality">
                                        <h4>Speciality</h4>
                                        <p id="speciality-details-1"><%= doctor.cancer_speciality %></p>
                                    </div>
                                    <div class="doctor-location">
                                        <h4>Location</h4>
                                        <p id="location-details-1"><%= doctor.clinic_location %></p>
                                    </div>
                                    <div class="doctor-phone">
                                        <h4>Phone No.</h4>
                                        <p id="phone-details-1"><%= doctor.clinic_phone_no %></p>
                                    </div>
                                    <div class="doctor-email">
                                        <h4>Email</h4>
                                        <p id="email-details-1"><%= doctor.email %></p>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <button type="submit"class="button" name="consult" id="consult-btn">Consult</button>
                                    <button type="submit"class="button" name="book" id="book-btn">Book Appointment</button>
                                </div>
                            </div>
                        </form>
                    </li>

                <% }) %>

              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
              </div>
          </div>
          <a href="" class="view-all">View All</a>
    </div>
</div>

    <% } %>
        






    <!-----------------Feedback Page------------------>



    <div class="feedback-body">
        <div class="feedback-wrap">
            <form action="">
                <textarea name="" class="feedback-area" id="feedback-area" cols="60" rows="15" placeholder="Enter Your feedback" required></textarea>
                <input type="submit" class="post-feedback" value="Post Feedback">
            </form>
            

        </div>
    </div>




    <button id="top" class="top">Top</button>


    <script src="/@glidejs/glide/dist/glide.min.js"></script>

    <script>
        const config = {
            type: 'carousel',
            perView: 3,
            // breakpoints:{
            //    600:{ perView: 1 },
            //    1200: { perView: 3 }
            // }
        }
       new Glide('.glide', config).mount()



       document.getElementById("consult-btn").addEventListener("click",()=>{
        document.getElementById("form").submit();
       })

       document.getElementById("book-btn").addEventListener("click",()=>{
        document.getElementById("form").submit();

       })

    </script>

    <script src="/script.js"></script>
    
</body>
</html>