<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="/view-unverified-doctors.css">
    <title>Verified Doctors</title>
</head>
<body>
  <ul class="menu">
    <li class="menu-items">
      <div class="item-wrap" id="">
        <i class="fa-sharp fa-solid fa-house fa-2x" id="icon" style="color: #ffff; background-color: darkslategray; padding: 0px 10px; line-height: 80px;"></i>
        <a href="/admin" class="item" id="">Overview</a>
      </div>
    </li>
    <li class="menu-items">
      <div class="item-wrap" id="">
        <i class="fa-sharp fa-solid fa-bed-pulse fa-2x" id="icon" style="color: #ffff; background-color: darkslategray; padding: 0px 10px; line-height: 80px;"></i>
        <a href="/admin/view-patients" class="item" id="">Patients</a>
      </div>
    </li>
    <li class="menu-items" id="doctor-menu">
      <div class="item-wrap" id="selected">
        <i class="fa-solid fa-user-doctor fa-2x" id="icon" style="color: #ffff; background-color: slategray; padding: 0px 10px; line-height: 80px;"></i>
        <a href="/admin/view-unverified-doctors" class="item" id="selected">Doctors</a>
      </div>
      <ul class="sub-menu-1">
        <li class="sub-menu-items">
          <a href="/admin/view-unverified-doctors" class="sub-item" id="">Unverified</a>
        </li>
        <li class="sub-menu-items">
          <a href="/admin/view-verified-doctors" class="sub-item" id="selected">Verified</a>
        </li>
      </ul>
    </li>
    <li class="menu-items" id="payment-menu">
      <div class="item-wrap" id="">
        <i class="fa-solid fa-credit-card fa-2x" id="icon" style="color: #ffff; background-color: darkslategray; padding: 0px 10px; line-height: 80px;"></i>
        <a href="/admin/view-consultation-payments" class="item" id="">Payments</a>
      </div>
      <ul class="sub-menu-2">
        <li class="sub-menu-items">
          <a href="/admin/view-consultation-payments" class="sub-item" id="">Consultations</a>
        </li>
        <li class="sub-menu-items">
          <a href="/admin/view-appointment-payments" class="sub-item">Appointments</a>
        </li>
      </ul>
    </li>
    <li class="menu-items">
      <div class="item-wrap" id="">
        <i class="fa-sharp fa-solid fa-money-check-dollar fa-2x" id="icon" style="color: #ffff; background-color: darkslategray; padding: 0px 10px; line-height: 80px;"></i>
        <a href="/admin/subscriptions" class="item" id="">Subscriptions</a>
      </div>
      
    </li>
    <li class="menu-items"  id="my-profile">
      <div class="item-wrap">
        
        <a href="/admin/admin-profile" class="fa-sharp fa-solid fa-user fa-2x"  id="" style="color: #ffff; background-color: darkslategray; padding: 0px 10px; line-height: 80px; cursor: pointer;"></a>
      </div>
    </li>
  </ul>
   <div class="container">
    <% if (doctors.length) { %>
        <h2 class="main-header">Verified Doctors</h2>
     <% doctors.forEach(doctor => { %>
      <form action="/admin/view-verified-doctors" method="post">
        <input type="text" name="doctor_id" id="doctor-id" value="<%= doctor.user_id %>">
        <h2 class="details"><%= doctor.name %></h2>
        <h3 class="details">Licence No : <%= doctor.licence_no %></h3>
        <h4 class="details"><%= doctor.cancer_speciality %></h4>
        <h4 class="details"><%= doctor.clinic_location %></h4>
        <h4 class="details"><%= doctor.clinic_email %></h4>
        <h4 class="details"><%= doctor.phone_no %></h4>

        <button type="submit" class="btn-verified" >Unverify</button>
       
      </form>
     <% }) %>
    <% }else{ %>
        <h1 class="no-details">No Records Found</h1>
    <% } %>
   </div>
</body>
</html>