<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="/view-unverified-doctors.css">
    <title>Unverified Doctors</title>
</head>
<body>
    <% if (doctors.length) { %>
        <h2 class="main-header">Unverified Doctors</h2>
     <% doctors.forEach(doctor => { %>
      <form action="/admin/view-unverified-doctors" method="post">
        <input type="text" name="doctor_id" id="doctor-id" value="<%= doctor.user_id %>">
        <h2 class="details"><%= doctor.name %></h2>
        <h3 class="details">Licence No : <%= doctor.licence_no %></h3>
        <h4 class="details"><%= doctor.cancer_speciality %></h4>
        <h4 class="details"><%= doctor.clinic_location %></h4>
        <h4 class="details"><%= doctor.email %></h4>
        <h4 class="details"><%= doctor.phone_no %></h4>

        <button type="submit" class="btn" >Verify</button>
       
      </form>
     <% }) %>
    <% }else{ %>
        <h1 class="no-details">No Records Found</h1>
    <% } %>
</body>
</html>