<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/view-consultation-payments.css" />
    <title>Consultation Payments</title>
  </head>
  <body>
    <ul class="menu">
      <li class="menu-items">
        <div class="item-wrap" id="">
          <i class="fa-sharp fa-solid fa-house fa-2x" id="icon" style="color: #ffff; background-color: darkslategray; padding: 0px 10px; line-height: 80px;"></i>
          <a href="/admin" class="item" id="">Overview</a>
        </div>
      </li>
      <li class="menu-items">
        <div class="item-wrap" id="">
          <i class="fa-sharp fa-solid fa-bed-pulse fa-2x" id="icon" style="color: #ffff; background-color: darkslategray; padding: 0px 10px; line-height: 80px;"></i>
          <a href="/admin/view-patients" class="item" id="">Patients</a>
        </div>
      </li>
      <li class="menu-items" id="doctor-menu">
        <div class="item-wrap">
          <i class="fa-solid fa-user-doctor fa-2x" id="icon" style="color: #ffff; background-color: darkslategray; padding: 0px 10px; line-height: 80px;"></i>
          <a href="/admin/view-unverified-doctors" class="item">Doctors</a>
        </div>
        <ul class="sub-menu-1">
          <li class="sub-menu-items">
            <a href="/admin/view-unverified-doctors" class="sub-item">Unverified</a>
          </li>
          <li class="sub-menu-items">
            <a href="/admin/view-verified-doctors" class="sub-item">Verified</a>
          </li>
        </ul>
      </li>
      <li class="menu-items" id="payment-menu">
        <div class="item-wrap" id="selected">
          <i class="fa-solid fa-credit-card fa-2x" id="icon" style="color: #ffff; background-color: slategray; padding: 0px 10px; line-height: 80px;"></i>
          <a href="/admin/view-consultation-payments" class="item" id="selected">Payments</a>
        </div>
        <ul class="sub-menu-2">
          <li class="sub-menu-items">
            <a href="/admin/view-consultation-payments" class="sub-item" id="selected">Consultations</a>
          </li>
          <li class="sub-menu-items">
            <a href="/admin/view-appointment-payments" class="sub-item">Appointments</a>
          </li>
        </ul>
      </li>
      <li class="menu-items">
        <div class="item-wrap" id="">
          <i class="fa-sharp fa-solid fa-money-check-dollar fa-2x" id="icon" style="color: #ffff; background-color: darkslategray; padding: 0px 10px; line-height: 80px;"></i>
          <a href="/admin/subscriptions" class="item" id="">Subscriptions</a>
        </div>
        
      </li>
      <li class="menu-items"  id="my-profile">
        <div class="item-wrap">
          
          <a href="/admin/admin-profile" class="fa-sharp fa-solid fa-user fa-2x"  id="" style="color: #ffff; background-color: darkslategray; padding: 0px 10px; line-height: 80px; cursor: pointer;"></a>
        </div>
      </li>
    </ul>

    
    <div class="container">
        <p class="pdf-name" id="pdf-name"><%= pdfName %></p>

        <form action="/admin/view-consultation-payments" id="form1" method="post">
            <div class="select-div">
                <label for="select" class="select-label">Filter by : </label>
                <select name="select" id="select" class="select" value="<%= filterType %>"  onchange="submit()">
                    <option value="all" <%= all %>>All</option>
                    <option value="date" <%= date %>>Date</option>
                    <option value="month" <%= month %>>Month</option>
                    <option value="year" <%= year %>>Year</option>
                    <option value="last-week" <%= lastWeek %>>Last Week</option>
                    <option value="last-month" <%= lastMonth %>>Last Month</option>
                </select>
            </div>
            <div class="options-div">
                <% if (filterType == "search") { %>
                    <div class="search-div">
                        <input type="text" class="search" id="search" name="search" value="<%= searchValue %>">
                        <button type="submit" class="btn">Search</button>
                    </div>
                   <% } %>
               <% if (filterType == "date") { %>
                <input type="date" name="date" id="date" class="input" value="<%= dateValue %>" onchange="submit()">
               <% } %>
               <% if (filterType == "month") { %>
                <input type="month" name="month" id="month" class="input" value="<%= monthValue %>" onchange="submit()">
               <% } %>
               <% if (filterType == "year") { %>
                <div class="search-div">
                    <input type="number" name="year" id="year" class="year" min="1900" max="2100" step="1" value="<%= yearValue %>">
                    <button type="submit" class="btn">Search</button>
                </div>
               <% } %>
            </div>
        </form>
    
        <div class="records">
            <% if (details.length) { %>
             <h1 class="count">No. Of Payments: <%= details.length %></h1>
             <table>
                <tr>
                  <th>Checkout Id</th>
                  <th>Patient's Name</th>
                  <th>Doctor's Name</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Consultation Expiry</th>
                </tr>
                <% details.forEach(payment => { %>
                 <tr>
                  <td><%= payment.checkout_id %></td>
                  <td><%= payment.patient_name %></td>
                  <td><%= payment.doctor_name %></td>
                  <td><%= payment.date %></td>
                  <td><%= payment.amount %></td>
                  <td><%= payment.consultation_expiry_time %></td>
                </tr>
                <% }) %>
              </table>
              <button type="button" class="btn" onclick="pdfOpen()">Download PDF</button>
            <% }else{ %>
                <h1 class="no-records">No Records</h1>
            <% } %>
        </div>
       
    </div>

    <script>
        const pdfOpen = () =>{
        let name = document.getElementById("pdf-name").innerText;
        window.open("/"+name)
      }
        const submit = () =>{
            document.getElementById("form1").submit();
        }
    </script>
  </body>
</html>
